<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <!--css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <!--js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topnav">
        <div class="col-md-8 home" >
            <a class="active" href="./index.html">쇼핑몰</a>
        </div>
        <div class="col-md-2 user">
            <div >
                <a href="./cart.html">Cart</a>
            </div>
            <div>
                <a href="./info.html">Info.</a>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th><a href="../template/products/귤.html" ><div><img src="../images/귤.jpg" alt=""></div><p class="product_name">귤</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">2,500원</p></a></th>
            <th><a href="../template/products/딸기.html" ><img src="../images/딸기.jpg" alt="" ></div><p class="product_name">딸기</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">6,700원</p></a></th>
            <th><a href="../template/products/바나나.html" ><img src="../images/바나나.jpg" alt="" ></div><p class="product_name">바나나</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">1,900원</p></a></th>
        </tr>
        <tr>
            <th><a href="../template/products/사과.html" ><div><img src="../images/사과.jpg" alt=""></div><p class="product_name">사과</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">1,500원</p></a></th>
            <th><a href="../template/products/수박.html" ><div><img src="../images/수박.jpg" alt=""></div><p class="product_name">수박</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">12,500원</p></a></th>
            <th><a href="../template/products/파인애플.html" ><div><img src="../images/파인애플.jpg" alt=""></div><p class="product_name">파인애플</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">5,400원</p></a></th>
        </tr>
        <tr>
            <th><a href="../template/products/레몬.html" ><div><img src="../images/레몬.jpg" alt=""></div><p class="product_name">레몬</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">11,500원</p></a></th>
            <th><a href="../template/products/멜론.html" ><div><img src="../images/멜론.jpg" alt=""></div><p class="product_name">멜론</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">12,300원</p></a></th>
            <th><a href="../template/products/체리.html" ><div><img src="../images/체리.jpg" alt=""></div><p class="product_name">체리</p><p class="product_char">진짜 맛있습니다.</p><p class="product_price">1,400원</p></a></th>
        </tr>
        <tr>
            <th><a href="../template/products/키위.html" ><div><img src="../images/키위.jpg" alt=""></div><p class="product_name">키위</p><p class="product_price">8,500원</p></a></th>
        </tr>
    </table>

</body>

</html>