<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <!--css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <!--js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topnav">
        <div class="col-md-8 home" >
            <a class="active" href="./index.html">쇼핑몰</a>
        </div>
        <div class="col-md-2 user">
            <div >
                <a href="./cart.html">Cart</a>
            </div>
            <div>
                <a href="./info.html">Info.</a>
            </div>
        </div>
    </div>
    <table class="product_kind">
        <tr>
            <th><a href="../template/fruit.html" ><div><img src="../images/귤.jpg" alt=""></div><p class="product_name">과일</p></a></th>
            <th><a href="../template/car.html" ><img src="../images/볼보.jpg" alt="" ></div><p class="product_name">자동차</p></a></th>
        </tr>
        <tr>
            <th><a href="../template/food.html" ><div><img src="../images/짬뽕.jpg" alt=""></div><p class="product_name">음식</p></a></th>
            <th><a href="../template/clothes.html" ><div><img src="../images/나이키.jpg" alt=""></div><p class="product_name">옷</p></a></th>
        </tr>
    </table>

</body>

</html>